$ipadProView: "(max-width: 1024px)";
$ipadView: "(max-width: 768px)";
$mobileView: "(max-width: 767px)";

$font-10: 10px;
$font-11: 11px;

$font-12: 12px;

$font-13: 13px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-17: 17px;
$font-18: 18px;
$font-19: 19px;
$font-20: 20px;
$font-24: 24px;
$font-27: 27px;
$font-25: 25px;

$font-32: 32px;
$font-35: 35px;
$font-36: 36px;
$font-40: 40px;

// line height
$line-height12: 12px;
$line-height10: 10px;

$line-height15: 15px;

$line-height16: 16px;

$line-height17: 17px;
$line-height20: 20px;

$line-height19: 19px;
$line-height24: 24px;
$line-height27: 27px;
$line-height29: 29px;
$line-height32: 32px;

$line-height40: 40px;
$line-height44: 44px;
