@import "/src/styles/all.scss";

/* NAV BAR STYLES*/
.menu {
  font-family: "MontessaratSemiBold";
  background-color: #ffffff;
}

.home {
  font-family: "MontessaratSemiBold";
  button {
    font-family: "MontessaratSemiBold";
    font-size: $font-16;
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    border: 2px solid #332da0;
    &:hover {
      border: 2px solid #332da0;
      background-color: #332da0;
    }
  }
}

.about {
  h1 {
    font-family: "MontessaratSemiBold";
    font-size: $font-36;
    line-height: $line-height44;
  }
  p {
    font-family: "MontessaratRegular";
  }
}

.why {
  h5 {
    font-family: "MontessaratBold";
    font-size: $font-24;
    line-height: $line-height44;
  }
  ul {
    font-family: "MontessaratMedium";
    line-height: $line-height29;
    font-style: normal;
    color: rgba(18, 18, 18, 0.8);
  }
}

.services {
  h1 {
    font-family: "MontessaratBold";
    font-size: $font-36;
  }
  &_header {
    h1 {
      font-family: "MontessaratLight";
      font-size: $font-24;
      color: #121212;
      font-weight: normal;
      line-height: $line-height29;
    }
    p {
      font-family: "MontessaratBold";
      font-size: $font-36;
      line-height: $line-height44;
    }
  }
  &_card {
    h5 {
      font-family: "MontessaratBold";
      color: #332da0;
    }
  }
}

.team {
  h1 {
    font-family: "MontessaratSemiBold";
    font-size: $font-36;
    line-height: $line-height44;
    font-style: normal;
  }
  &_card {
    h5 {
      font-family: "MontessaratSemiBold";
      line-height: $line-height29;
    }
    h6 {
      font-family: "MontessaratRegular";
      line-height: $line-height29;
    }
  }
}

.contact {
  background: #eeeeee;
  &_col1 {
    p {
      font-family: "MontessaratRegular";
      line-height: $line-height29;
      font-size: $font-24;
    }
    h1 {
      font-family: "MontessaratBold";
      font-size: $font-40;
      line-height: $line-height32;
    }
  }
  &_col2 {
    button {
      font-family: "MontessaratBold";
      color: #ffffff;
      background: #332da0;
      border: #332da0;
      &:hover {
        background: #332da0;
      }
    }
  }
}

.footer {
  background: #332da0;
  &_row {
    h1 {
      font-family: "MontessaratBold";
      color: #ffffff;
      font-size: $font-24;
      line-height: $line-height29;
    }
    h5 {
      font-family: "MontessaratRegular";
      color: #ffffff;
      font-size: $font-18;
      line-height: $line-height29;
    }
  }
}

.login {
  & form {
    & h3 {
      font-family: "MontessaratSemiBold";
    }
    & label {
      font-family: "MontessaratRegular";
    }
    & input {
      font-family: "MontessaratRegular";
      font-size: $font-16;
    }
    & div {
      & h6 {
        font-family: "MontessaratRegular";
        font-size: $font-16;
        color: #121212;
        line-height: $line-height29;
      }
      & a {
        font-family: "MontessaratRegular";
        color: #121212;
        line-height: $line-height29;
      }
    }
    & div {
      button {
        font-family: "MontessaratLight";
        border: 1px solid #332da0;
        color: #332da0;
      }
    }
  }
}

.signup {
  & form {
    & label {
      font-family: "MontessaratRegular";
    }
    & input {
      font-family: "MontessaratRegular";
    }
  }
  & button {
    font-family: "MontessaratBold" !important;
  }
}
