@import "/src/styles/all.scss";

/* NAV BAR STYLES*/
.menu {
  font-family: "MontessaratSemiBold";
  background-color: #ffffff;
}

.home {
  font-family: "MontessaratSemiBold";
  &_text {
    h2 {
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 59px;
    }
    h3 {
      font-size: 24px;
      line-height: 29px;
      font-weight: 500;
      font-style: normal;
      font-family: MontessaratMedium;
    }
  }
  button {
    font-family: "MontessaratSemiBold";
    font-size: $font-16;
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    border: 2px solid #332da0;
    &:hover {
      border: 2px solid #332da0;
      background-color: #332da0;
    }
  }
  &_signup {
    height: 36px;
    color: #332da0 !important;
  }
  &_login {
    height: 36px;
    color: #ffffff;
    background: #332da0 !important;
  }
}

.about {
  h1 {
    font-family: "MontessaratSemiBold";
    font-size: $font-36;
    line-height: $line-height44;
  }
  p {
    font-family: "MontessaratRegular";
  }
}

.why {
  h5 {
    font-family: "MontessaratBold";
    font-size: $font-24;
    line-height: $line-height44;
  }
  ul {
    font-family: "MontessaratMedium";
    line-height: $line-height29;
    font-style: normal;
    color: rgba(18, 18, 18, 0.8);
  }
}

.services {
  h1 {
    font-family: "MontessaratBold";
    font-size: $font-36;
  }
  &_header {
    h1 {
      font-family: "MontessaratLight";
      font-size: $font-24;
      color: #121212;
      font-weight: normal;
      line-height: $line-height29;
    }
    p {
      font-family: "MontessaratBold";
      font-size: $font-36;
      line-height: $line-height44;
    }
  }
  &_card {
    h5 {
      font-family: "MontessaratBold";
      color: #332da0;
    }
  }
}

.team {
  h1 {
    font-family: "MontessaratSemiBold";
    font-size: $font-36;
    line-height: $line-height44;
    font-style: normal;
  }
  &_card {
    border-radius: 10px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    h5 {
      font-family: "MontessaratSemiBold";
      line-height: $line-height29;
    }
    h6 {
      font-family: "MontessaratRegular";
      line-height: $line-height29;
    }
  }
}

.contact {
  background: #eeeeee;
  &_col1 {
    p {
      font-family: "MontessaratRegular";
      line-height: $line-height29;
      font-size: $font-24;
    }
    h1 {
      font-family: "MontessaratBold";
      font-size: $font-40;
      line-height: $line-height32;
    }
  }
  &_col2 {
    button {
      font-family: "MontessaratBold";
      color: #ffffff;
      background: #332da0;
      border: #332da0;
      &:hover {
        background: #332da0;
      }
    }
  }
}

.footer {
  background: #332da0;
  &_row {
    h1 {
      font-family: "MontessaratBold";
      color: #ffffff;
      font-size: $font-24;
      line-height: $line-height29;
    }
    h5 {
      font-family: "MontessaratRegular";
      color: #ffffff;
      font-size: $font-18;
      line-height: $line-height29;
    }
  }
}

.login {
  & form {
    & h3 {
      font-family: "MontessaratSemiBold";
    }
    & label {
      font-family: "MontessaratRegular";
    }
    & input {
      font-family: "MontessaratRegular";
      font-size: $font-16;
    }
    & div {
      & h6 {
        font-family: "MontessaratRegular";
        font-size: $font-16;
        color: #121212;
        line-height: $line-height29;
      }
      & a {
        font-family: "MontessaratRegular";
        color: #121212;
        line-height: $line-height29;
      }
    }
    & div {
      button {
        font-family: "MontessaratLight";
        border: 1px solid #332da0;
        color: #332da0;
      }
    }
  }
}

.signup {
  & form {
    & label {
      font-family: "MontessaratRegular";
    }
    & input {
      font-family: "MontessaratRegular";
    }
  }
  & button {
    font-family: "MontessaratBold" !important;
  }
}

.leftsidebar {
  background: #332da0;
  width: 220px;
  height: 100vh;
  border-radius: 0px 30px 30px 0px;
  width: 20%;
  & p {
    color: #ffffff;
    margin-bottom: 60px !important;
    padding-top: 60px !important;
    font-family: "OpenSansBold";
    font-size: $font-24;
    line-height: $line-height32;
  }
  & ul {
    list-style-type: none;
    color: #ffffff;
    cursor: pointer;
    margin-top: 30px !important;
    & li {
      & img {
        & :hover {
          background: #8febf1;
        }
      }
      & p {
        font-family: "MontessaratMedium" !important;
        font-size: $font-18 !important;
        line-height: $line-height22;
        & :hover {
          color: #8febf1;
        }
      }
    }
  }
}

.sidelist {
  & li {
    & img {
      & :hover {
        color: whitesmoke;
      }
    }
    & p {
      &:hover {
        color: #8febf1;
      }
    }
  }
}

.rightsidebar {
  width: 20%;
  & h4 {
    font-family: "MontessaratBold";
    font-style: normal;
    font-size: $font-20;
    line-height: $line-height22;
    color: #332da0;
  }
  & h5 {
    @extend h4;
  }
  & div {
    & ul {
      font-family: "MontessaratRegular";
      color: #332da0;
    }
  }
}

.topbar {
  width: 60%;
}

.topsection {
  & h5 {
    font-family: "MontessaratBold";
    color: #332da0;
  }
  & h6 {
    font-family: "MontessaratRegular";
    color: #332da0;
  }
  & p {
    font-family: "MontessaratRegular";
    color: #332da0;
  }
}

.bottomsection {
  & h5 {
    font-family: "MontessaratMedium";
    font-size: $font-16;
    color: #121212;
  }
  & h6 {
    font-family: "MontessaratRegular";
    font-size: $font-12;
    color: #121212;
  }
}

.servicesCard {
  border-radius: 10px;
  border: 1px solid rgba(54, 209, 219, 0.2);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

//animate ill
.animate_img {
  animation: MoveUpDown 5s linear infinite;
  position: relative;
  left: 0;
  bottom: 0;
}
@keyframes MoveUpDown {
  0%,
  50% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
}

/**MOBILE RESPONSIVENESS STYLES */
@media screen and (max-width: 576px) {
  .home {
    overflow: hidden !important;
  }
  .menuContainer {
    display: inline-block !important;
    overflow: hidden;
    cursor: pointer;
    margin-left: 50px;
    z-index: 5;
  }
}

@media screen and (max-width: 640px) {
  .main {
    overflow: hidden !important;
  }
  .home {
    &_text {
      h2 {
        font-size: 25px;
      }
    }
    &_signup {
      white-space: nowrap;
      margin-bottom: 15px;
      margin-left: 20px !important;
    }
    &_buttons {
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      width: 200px;
      margin-bottom: 20px;
    }
  }
  .whyChooseUs {
    &_text {
      h1 {
        font-size: 20px !important;
        width: 80% !important;
        margin: auto !important;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .whyUs {
    margin: auto !important;
  }
  .servicesCard {
    width: 40% !important;
  }
  .team {
    h1 {
      margin: auto !important;
      font-size: 25px;
      margin-bottom: 20px !important;
    }
    &_card {
      width: 40% !important;
    }
  }
  .cardCenter {
    justify-content: center;
  }

  .contact_col1 {
    margin-bottom: 20px;
  }

  .contact_col2 {
    margin-left: 180px;
    margin-top: 20px;
  }
  .blog {
    h5 {
      font-size: 14px;
    }
  }
  .footer_row {
    margin-left: 175px;
  }
  .footer_p1 {
    margin-left: 16px !important;
  }
  .footer_p {
    margin-left: -54px !important;
  }
  .footer-p0 {
    margin-left: 30px !important;
  }
}
