@import "/src/styles/all.scss";

/* NAV BAR STYLES*/
.menu {
  font-family: "MontessaratSemiBold";
  background-color: #ffffff;
}

.home {
  font-family: "MontessaratSemiBold";
  button {
    font-family: "MontessaratSemiBold";
    font-size: $font-16;
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    border: 2px solid #332da0;
    &:hover {
      border: 2px solid #332da0;
      background-color: #332da0;
    }
  }
}

.about {
  h1 {
    font-family: "MontessaratSemiBold";
    font-size: $font-36;
    line-height: $line-height44;
  }
  p {
    font-family: "MontessaratRegular";
  }
}

.why {
  h5 {
    font-family: "MontessaratBold";
    font-size: $font-24;
    line-height: $line-height44;
  }
  ul {
    font-family: "MontessaratMedium";
    line-height: $line-height29;
    font-style: normal;
    color: rgba(18, 18, 18, 0.8);
  }
}
